@import url("https://use.typekit.net/alx8fbs.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* プロジェクト全体の背景色をここで指定しておくと安全です */
:root {
  background-color: #000000;
  color: #ffffff;
}

body {
  background: #000000;
}

::selection {
  background-color: #ffffff;
  /* 背景を白 */
  color: #000000;
  /* 文字を黒 */
}

/* Firefox対応 */
::-moz-selection {
  background-color: #ffffff;
  color: #000000;
}